name: e2e Tests
on: [push]
jobs:
  cypress-run:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Cypress run
        uses: cypress-io/github-action@v2
        with:
          start: yarn build:start
          wait-on: 'http://localhost:3000'
          # wait for 1 minute for the server to respond
          wait-on-timeout: 60